{% extends "Image/base.html" %} {% block body%}

<h1> Upload Image </h1>
<div id="form">

    <form method="post" enctype="multipart/form-data">

        {% csrf_token %} {% for field in form %}
        <div class="row">
            <div class="col-md-2">
                {{ field.label_tag }} {% if field.help_text %}
                <sup>{{ field.help_text }}</sup> {% endif %} {{ field.errors }}
            </div>
            <div class="col-md-10 pull-left">
                {{ field }}
            </div>
        </div>
        {% endfor %}
        <button type="submit">Upload</button>
    </form>
</div>

{%endblock%}